body {
    background: rgba(213, 237, 250);
}

#home_search_div {
    padding: 40px;
    min-height: 100vh;
    background-image: url('scotland.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 50% 100%;
    display: block;
}

.half_center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}

#home_search_div h1 {
    font-size: 50px !important;
}

#home_search_div .input {
    min-width: 320px;
    box-shadow:hsl(0, 1%, 52%) 0 0 14px;
}

.gradient {
    background: linear-gradient(
    to right bottom,
        rgba(192, 189, 189, 0.8),
        rgba(255, 255, 255, 0.3)
    );
    border-radius: 4px;
    box-shadow:hsl(0, 0%, 82%) 0 0 14px;
    padding: 40px;
}


@media screen and (max-width: 700px) {
    #home_search_div {
        background-size: 100% 100%;
        padding: 10px;
    }

    .half_center {
        left: 50%;
    }
    
    #home_search_div h1 {
        font-size: 30px !important;
    }

    #home_search_div .input {
        min-width: 150px !important;
    }

    .gradient {
        background: linear-gradient(
        to right bottom,
            rgba(230, 227, 227, 0.8),
            rgba(241, 239, 239, 0.788)
        );
    }
}