body {
    background: rgba(213, 237, 250);
    min-height: 100vh;
    background-image: url('scotland.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 50% 100%;
    background-position: center;
    display: block;
}

#result_div {
    padding: 40px;
}

.gradient {
    background: linear-gradient(
    to right bottom,
        /* rgba(250, 247, 247, 0.993),
        rgba(255, 255, 255, 0.932) */
        rgba(238, 236, 236, 0.877),
        rgba(255, 255, 255, 0.74)
    );
    border-radius: 4px;
    box-shadow:hsl(0, 0%, 82%) 0 0 14px;
    padding: 40px;
    min-height: 100vh;
}

#loadingdiv {
    background: transparent !important;
    min-height: 164px;
}

form {
    width: 50%;
}

.input {
    width: 100%;
}

#loadingdiv2 {
    width: 40%;
    min-height: 60px;
}

#gradeAndColor table {
    color: white;
    width: 100%;
}

#gradeAndColor td {
    font-size: 12px;
}

#moreInfo {
    display: none;
}

#moreInfo table {
    width: 40%;
}

#moreInfo td {
    padding: 5px 30px 5px 5px;
}

#moreInfoResult tr:nth-child(odd) {
    background: white;
}

@media screen and (max-width: 700px) {

    #result_postcode {
        font-size: 20px !important;
    }

    form {
        width: 100%;
    }

    table {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {


    .column {
        overflow: scroll;
    }

}